/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url('fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* para que se mantenga al hacer scroll */
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Encabezado */
header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 3.1rem;
  color: #1a202c;
}

header p {
  font-size: 2.2rem;
  color: #4a5568;
}

/* Dashboard */
.dashboard {    
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

/* Card estilo */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #2d3748;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card {
  font-size: 1.2rem;
}

.card::before {
  font-size: 1.5rem;
  margin-right: 8px;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background: #edf2f7;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #999;
}

/* Responsive */
@media (max-width: 600px) {
  .item h3 {
    flex-direction: column;
    align-items: flex-start;
  }

  .item h3 span {
    margin-top: 5px;
  }
}

.menu {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 30px;
}

section h2 {
  background-color: #476e4e;
  color: rgba(14, 1, 1, 0.295);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.item {
  background: rgba(177, 184, 181, 0.5);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  
}

.item h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #000;
}

.item p {
  font-size: 0.95rem;
  color: #141212;
}
